body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex; /* Flexbox para organización */
    justify-content: space-between; 
    align-items: center; 
    position: relative; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100px;
    height: 100px;
}
.header-title {
    font-size: 2em;
    font-weight: bold;
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
}

.btn-back {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn-back:hover {
    background-color: #ee5253;
    color: #fff;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.like-card {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegura que los elementos ocupen todo el ancho */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f4f4f4;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.like-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.like-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    border: 2px solid #4a4e69;
}

.like-card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #4a4e69;
}

.info{
    margin-left: 20px;
}

.like-card p {
    margin: 5px 0;
    color: #555;
}

.heart {
    font-size: 1.5rem;
    color: red;
    margin-left: auto; /* Empuja el corazón hacia la derecha */
}


.like-card a{
   text-decoration: none;
}

/* Reciprocidad */
.heart {
    color: red;
    font-size: 3rem;
    margin-left: 150px;
    margin-right: 25px;
}


